---
layout: default
title: Home
---

{% assign active = site.posts | where_exp: "item", "item.state == 'active'" %}
{% assign inactive = site.posts | where_exp: "item", "item.state == nil" %}

{% assign severity = 0 %}
{% for post in active %}
{% assign post_severity = post.severity|default: 1 %}
{% if post_severity > severity %}
{% assign severity = post_severity %}
{% endif %}
{% endfor %}

<div id="status">
<img src="{{ site.baseurl }}/images/sev{{ severity }}.svg" 
     class="severity"/>
<p class="sev{{severity}}">
{% if severity == 0 %}
All systems are operating normally.
{% elsif severity == 1 %}
There are one or more service interruptions.
{% else %}
There is a critical service outage.
{% endif %}
</p>
</div>

<h2>Current status</h2>
<div class="posts">
  {% if active.size > 0 %}
  {% for post in active %}
    <article class="post">
      <h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>

      <div class="post-info">
        Posted {{ post.date | date: "%Y-%m-%d" }}
      </div>

      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}
  {% else %}
  There are no active status notifications at this time.
  {% endif %}
</div>

<h2>Recent status</h2>
<div class="posts">
  {% for post in inactive limit:3 %}
    <ul>
      <li>[{{ post.date | date: "%Y-%m-%d" }}] <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
  </ul>
  {% endfor %}
</div>

<h2>Archives<?h2>

<p>
<a href="/archive/">All status updates</a>
</p>

<footer>
  To report a problem, please open a ticket in <a href="https://osticket.massopen.cloud">our ticketing system</a>.
</footer>
